<form action="/contacts" method="post">
  <dl>
    <dd>
      <label for="first_name">First Name:</label>
      <input name="first_name" type="text" value="">
    </dd>
    <dd>
      <label for="last_name">Last Name:</label>
      <input name="last_name" type="text" value="">
    </dd>
    <dd>
      <label for="phone_number">Phone Number:</label>
      <input name="phone_number" type="text" value="">
    </dd>
    <dd>
      <label for="email_address">Email Address:</label>
      <input name="email_address" type="text" value="">
    </dd>
    <dd>
      <label for="group_name">Group (optional):</label>
      <input name="group_name" type="text" value="">
    </dd>
  </dl>

  <input type="submit" value="Save">
  <a href="/contacts">Cancel</a>
</form>
